
body {
  background-color: rgb(47, 11, 124);
  width: 100%;
  margin: 0 auto;
}

.card {
  position: absolute;
  background-color: #fff;
  width: 55%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
}

.todo-title {
  font-weight: bold;
  font-size: 27px;
  margin-left: 20px;
}

.auth {
  display: flex;
  align-items: center;
  margin-right: 40px;
}

.auth>.auth-user {
  margin-right: 1rem;
}

.btn-logout {
  text-align: left;
  font-size: 13px;
  color: red;
  border: 2px solid red;
  border-radius: 5px;
  background-color: #fff;
  padding: 8px 15px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

.btn-logout:hover {
  background-color: red;
  border-color: red;
  color: #fff;
}

.btn-search {
  font-size: 14px;
  display: inline-block;
  border: 2px solid #cdf119;
  color: #cdf119;
  border-radius: 5px;
  padding: 9px 18px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  margin-left: 20px;
  margin-bottom: 10px;
}

.btn-search:hover {
  background-color: #cdf119;
  border-color: #cdf119;
  color: #fff;
}

.input-add {
  width: 75%;
  height: 30px;
  padding: 3px;
  margin-left: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
  appearance: none;
  font-size: 14px;
  outline: none;
}

.select_tag {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 14px;
  outline: none;
}

.btn-add {
  text-align: left;
  font-size: 12px;
  color: #FA6FEC;
  border: 2px solid #FA6FEC;
  border-radius: 5px;
  background-color: #fff;
  padding: 7px 14px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

.btn-add:hover {
  background-color: #FA6FEC;
  border-color: #FA6FEC;
  color: #fff;
}

table {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  border-collapse: separate;
  border-spacing: 40px 10px;
}

.input-update {
  width: 75%;
  height: 30px;
  padding: 5px;
  left: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  appearance: none;
  font-size: 12px;
  outline: none;
}

.btn-update {
  font-size: 11px;
  color: #faa628;
  border: 2px solid #faa628;
  border-radius: 5px;
  background-color: #fff;
  padding: 7px 13px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

.btn-update:hover {
  background-color: #faa628;
  border-color: #faa628;
  color: #fff;
}

.btn-delete {
  font-size: 11px;
  color: #21e0ed;
  border: 2px solid #21e0ed;
  border-radius: 4px;
  background-color: #fff;
  padding: 7px 13px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

.btn-delete:hover {
  background-color: #21e0ed;
  border-color: #21e0ed;
  color: #fff;
}
